 .u-section-1 {
  background-image: url("images/61DNvX7ySGL.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1064px;
}

.u-section-1 .u-group-1 {
  width: 853px;
  min-height: 952px;
  height: auto;
  margin: 212px auto -100px 123px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 64px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-1 .u-group-1 {
    width: 802px;
    min-height: 286px;
    margin-top: 211px;
    margin-left: 87px;
    margin-bottom: 197px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 832px;
  }

  .u-section-1 .u-group-1 {
    min-height: 424px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-1 .u-group-1 {
    min-height: 448px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: url("images/71HoSOpfUzL._AC_SL1500_.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1418px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 92px 0 0;
}

.u-section-2 .u-group-1 {
  width: 972px;
  min-height: 587px;
  height: auto;
  margin: 256px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  margin: 172px 20px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 47px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1169px;
  }

  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 413px;
    font-size: 1rem;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-top: 359px;
    margin-bottom: -756px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 498px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: 134px;
    margin-bottom: -860px;
  }
} .u-section-3 {
  background-image: url("images/81NPuxfMb4L._AC_SX679_.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1150px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 73px 35px 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 79px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 627px;
}

.u-section-3 .u-image-1 {
  height: 352px;
  margin: 0 auto 60px 0;
}

.u-section-3 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.u-section-3 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 1rem;
  font-weight: 700;
}

.u-section-3 .u-btn-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 770px;
}

.u-section-3 .u-image-2 {
  height: 360px;
  margin: 95px auto 60px 0;
}

.u-section-3 .u-text-4 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.u-section-3 .u-text-5 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 1rem;
  font-weight: 700;
}

.u-section-3 .u-btn-2 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 770px;
}

.u-section-3 .u-image-3 {
  height: 355px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-6 {
  margin: 60px 20px 0;
}

.u-section-3 .u-text-7 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 1rem;
  font-weight: 700;
}

.u-section-3 .u-btn-3 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 94px;
    margin-right: 0;
    margin-left: 293px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 130px;
    margin-bottom: -233px;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 627px;
  }

  .u-section-3 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 627px;
  }

  .u-section-3 .u-image-3 {
    height: 352px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 144px;
    margin-left: 224px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 51px;
    margin-bottom: -700px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 1461px;
    margin-left: 168px;
    font-size: 1rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -1259px;
    margin-bottom: -677px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-top: 1573px;
    margin-left: 106px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -1397px;
    margin-bottom: -651px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-4 {
  background-image: url("images/81hkZrRuwL._AC_SX679_.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 944px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 482px;
  margin: 14px 0 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  min-height: 460px;
}

.u-section-4 .u-image-1 {
  object-position: 65.58% 50%;
  background-position: 65.58% 50%;
  height: 500px;
  width: 482px;
  margin: -440px auto 0;
}

.u-section-4 .u-group-1 {
  width: 933px;
  min-height: 387px;
  height: auto;
  background-image: none;
  margin: 23px auto 20px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 3rem;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  position: relative;
  font-weight: 700;
  margin: 20px 20px 35px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1367px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1380px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 973px;
  }

  .u-section-4 .u-image-1 {
    height: 353px;
    width: 340px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-5 {
  min-height: 385px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 0 -19px;
}

.u-section-5 .u-image-1 {
  background-image: url("images/81hkZrRuwL._AC_SX679_.jpg");
  min-height: 404px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-2 {
  background-image: url("images/81NPuxfMb4L._AC_SX679_.jpg");
  min-height: 404px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-3 {
  background-image: url("images/71HoSOpfUzL._AC_SL1500_.jpg");
  min-height: 404px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-4 {
  background-image: url("images/81ODA7lZzKL._AC_SX679_.jpg");
  min-height: 404px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 404px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}