.u-section-1 .u-sheet-1 {
  min-height: 1172px;
}

.u-section-1 .u-image-1 {
  object-position: 50% 50%;
  width: 743px;
  height: 655px;
  margin: 62px auto 0 -95px;
}

.u-section-1 .u-group-1 {
  width: 487px;
  min-height: 429px;
  height: auto;
  margin: -227px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 10px 54px;
}

.u-section-1 .u-group-2 {
  width: 518px;
  min-height: 365px;
  height: auto;
  margin: -163px auto 51px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  text-decoration: none solid rgb(223, 4, 111);
  margin: 17px 10px 0 20px;
}

.u-section-1 .u-text-4 {
  line-height: 1.7;
  font-size: 1.25rem;
  font-style: italic;
  margin: 20px 10px 0 20px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  margin: 18px auto 0 20px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    object-position: 50% 6.03%;
    inset: auto;
    margin-left: 5px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 43px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 75px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 115px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 153px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 185px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 476px;
    margin-left: 300px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -48px;
    margin-right: 243px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 275px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 300px;
    margin-left: 400px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 128px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 918px;
}

.u-section-2 .u-shape-1 {
  width: 662px;
  height: 334px;
  margin: 477px 22px 0 auto;
}

.u-section-2 .u-image-1 {
  height: 538px;
  width: 518px;
  margin: -684px auto 0 22px;
}

.u-section-2 .u-shape-2 {
  width: 237px;
  height: 237px;
  margin: -42px auto 0 0;
}

.u-section-2 .u-shape-3 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: -798px 0 0 auto;
}

.u-section-2 .u-group-1 {
  width: 462px;
  min-height: 464px;
  height: auto;
  margin: -136px 88px 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px 30px 35px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-2 .u-shape-1 {
    width: 594px;
    height: 286px;
  }

  .u-section-2 .u-image-1 {
    height: 541px;
    width: 435px;
    object-position: 66.82% 50%;
    margin-left: 51px;
  }

  .u-section-2 .u-shape-2 {
    width: 189px;
    height: 189px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-2 .u-shape-1 {
    width: 490px;
    height: 262px;
  }

  .u-section-2 .u-image-1 {
    height: 442px;
    width: 380px;
    object-position: 52.37% 50%;
    margin-left: 48px;
  }

  .u-section-2 .u-shape-2 {
    width: 163px;
    height: 163px;
  }

  .u-section-2 .u-shape-3 {
    width: 212px;
    height: 212px;
  }

  .u-section-2 .u-group-1 {
    width: 414px;
    min-height: 532px;
    margin-right: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1141px;
  }

  .u-section-2 .u-shape-1 {
    width: 427px;
    margin-right: 25px;
  }

  .u-section-2 .u-shape-3 {
    width: 188px;
    height: 188px;
  }

  .u-section-2 .u-group-1 {
    width: 357px;
    min-height: 492px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 21px 25px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1190px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    height: 368px;
    width: 298px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 143px;
  }

  .u-section-2 .u-group-1 {
    width: 298px;
    min-height: 512px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }
} .u-section-3 {
  min-height: 583px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 583px;
}

.u-section-3 .u-container-layout-1 {
  padding: 60px 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 30px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 583px;
}

.u-section-3 .u-container-layout-2 {
  padding: 60px 30px;
}

.u-section-3 .u-text-2 {
  margin: 89px 0 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/9.webp");
  background-position: 50% 50%;
  min-height: 583px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 481px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 481px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 481px;
  }

  .u-section-3 .u-image-1 {
    min-height: 481px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 427px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px 50px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 288px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px 50px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 320px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 128px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-image-1 {
    min-height: 722px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 201px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 455px;
  }
} .u-section-4 {
  min-height: 1022px;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 491px);
  height: 890px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -820px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 908px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 496px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 462px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 447px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 487px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-4 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 435px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-4 .u-text-8 {
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 818px;
  }

  .u-section-4 .u-shape-1 {
    width: 492px;
    height: 818px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -739px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 749px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-1 {
    height: 409px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 273px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 369px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 273px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 359px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 868px;
  }

  .u-section-4 .u-shape-1 {
    width: 370px;
    height: 868px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -789px;
    margin-bottom: 59px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 574px;
  }

  .u-section-4 .u-image-1 {
    height: 313px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 20px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 20px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 20px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 20px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1706px;
  }

  .u-section-4 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: -67px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 993px;
  }

  .u-section-4 .u-image-1 {
    height: 542px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 30px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1553px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 404px;
  }

  .u-section-4 .u-image-1 {
    height: 341px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 1492px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  width: 715px;
  font-size: 3.75rem;
  margin: 70px auto 0;
}

.u-section-5 .u-line-1 {
  width: 121px;
  height: 3px;
  transform-origin: right center;
  margin: 20px auto 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  width: 682px;
  margin: 20px auto 0;
}

.u-section-5 .u-shape-1 {
  height: 396px;
  margin-top: 525px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: -868px auto 55px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 1024px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-5 .u-image-1 {
  height: 451px;
  object-position: 50% 0%;
  width: 415px;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  text-transform: none;
  font-weight: 700;
  letter-spacing: normal;
  margin: 20px 1px 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 3px 0 1px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 3px 0 1px;
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 399px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 400;
  margin: 0 49px 0 0;
}

.u-section-5 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  margin-left: 0;
  margin-right: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 20px;
  padding: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 399px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-7 {
  font-weight: 400;
  margin: 0;
}

.u-section-5 .u-text-8 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 379px;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-9 {
  font-weight: 400;
  margin: 0 32px 0 0;
}

.u-section-5 .u-text-10 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-5 .u-image-2 {
  min-height: 379px;
  background-image: url("images/4596.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1164px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 844px;
  }

  .u-section-5 .u-image-1 {
    height: 363px;
    width: 334px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 329px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 313px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    min-height: 313px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 2036px;
  }

  .u-section-5 .u-shape-1 {
    height: 1092px;
    margin-top: 701px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -1745px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-image-2 {
    min-height: 411px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 2560px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-shape-1 {
    height: 1616px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -2269px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 617px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 2431px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-shape-1 {
    height: 1613px;
    margin-top: 543px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -2108px;
    margin-bottom: 33px;
  }

  .u-section-5 .u-image-1 {
    height: 348px;
    width: 320px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    min-height: 388px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 832px;
}

.u-section-6 .u-text-1 {
  margin: 60px 603px 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 286px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 22px 1px 0;
}

.u-section-6 .u-text-3 {
  margin: 12px 1px 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 286px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-6 .u-image-1 {
  width: 307px;
  left: 30px;
  right: auto;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 310px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 29px;
}

.u-section-6 .u-image-2 {
  width: 307px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 310px;
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-text-5 {
  margin: 12px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 403px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 236px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 236px;
  }

  .u-section-6 .u-image-1 {
    inset: auto;
  }

  .u-section-6 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 256px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 183px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 181px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 196px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1265px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 3px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 388px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 441px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 244px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 278px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 751px;
}

.u-section-7 .u-shape-1 {
  height: 459px;
  margin-top: 146px;
  margin-bottom: 0;
}

.u-section-7 .u-group-1 {
  width: 597px;
  min-height: 579px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: -519px auto 60px calc(((100% - 1140px) / 2)  + 259px);
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 50px 30px 40px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 28px 0 0 10px;
}

.u-section-7 .u-form-1 {
  width: 510px;
  margin: 20px 1px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    width: 459px;
    min-height: 527px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2)  + 259px);
    height: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 31px;
    padding-right: 31px;
    padding-bottom: 24px;
  }

  .u-section-7 .u-form-1 {
    height: 371px;
    width: 395px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-shape-1 {
    height: 1003px;
    margin-top: 60px;
  }

  .u-section-7 .u-group-1 {
    width: 566px;
    margin-top: -1037px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2)  + 123px);
  }

  .u-section-7 .u-container-layout-1 {
    padding: 40px;
  }

  .u-section-7 .u-form-1 {
    width: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-shape-1 {
    height: 962px;
    margin-top: 135px;
  }

  .u-section-7 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-container-layout-1 {
    padding: 30px 36px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
  }

  .u-section-7 .u-form-1 {
    width: 466px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-shape-1 {
    height: 1043px;
    margin-top: 129px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
    margin-top: -1112px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-form-1 {
    width: 286px;
  }
}