 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 573px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 69px 125px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 34px 412px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 212px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 990px;
}

.u-section-2 .u-group-1 {
  width: 183px;
  min-height: 183px;
  height: auto;
  margin: 70px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -183px 242px 0 256px;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: 28px 0 0 256px;
}

.u-section-2 .u-gallery-1 {
  height: 670px;
  width: 703px;
  margin: 28px 185px 0 auto;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-2 {
  object-position: 50% 76.42%;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-3 {
  object-position: 50% 82.35%;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px 185px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1202px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 328px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 156px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2918px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 108px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 2679px;
    margin-right: 17px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-btn-1 {
    margin-right: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2576px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 2058px;
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1855px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-gallery-1 {
    height: 1296px;
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 299px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 612px;
  margin: 70px auto 0;
}

.u-section-3 .u-group-1 {
  width: 183px;
  min-height: 183px;
  height: auto;
  margin: -40px 0 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: -115px 256px 0 auto;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px 256px 38px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 273px;
    margin-right: 0;
    margin-left: 328px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -292px;
    height: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 135px;
    margin-right: 0;
    margin-left: 56px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 56px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 108px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 4.5rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 541px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 88px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 280px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-icon-1 {
  width: 209px;
  height: 209px;
  margin: 0 auto;
  padding: 38px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 700px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 5px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 231px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 577px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 323px;
  }

  .u-section-4 .u-icon-1 {
    width: 176px;
    height: 176px;
    margin-left: 0;
    margin-right: 0;
    padding: 32px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 222px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 140px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 573px;
}

.u-section-5 .u-group-1 {
  width: 183px;
  min-height: 183px;
  height: auto;
  margin: 95px auto 0 45px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -160px 272px 0 256px;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  margin: 28px 0 0 256px;
}

.u-section-5 .u-text-4 {
  margin: 80px 0 0 45px;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px 0 20px 45px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-2 {
    margin-right: 172px;
    margin-left: 156px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 156px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 62px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 477px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 612px;
  margin: 70px auto 0;
}

.u-section-6 .u-group-1 {
  width: 183px;
  min-height: 183px;
  height: auto;
  margin: -40px 0 0 auto;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  margin: -115px 256px 0 auto;
}

.u-section-6 .u-text-4 {
  margin: 50px 228px 0 28px;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px 228px 20px 28px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 273px;
    margin-right: 0;
    margin-left: 328px;
  }

  .u-section-6 .u-group-1 {
    margin-top: -292px;
    height: auto;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 135px;
    margin-right: 0;
    margin-left: 56px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 56px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 56px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 108px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 4.5rem;
  }
}